@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Task 2: Docker and Kubernetes</h2>
    <p style="text-align:left;">The goal of this task is to write a dockerfile to create a docker image for a simple ASP.NET Core Web application</p>
    <ol style="text-align:left;">
        <li>This webapp (Maliroso_Section2) was created</li>
        <li>A Dockerfile (can be located in the root directory of the webapp) was written to build and run the application</li>
        <li>Additionally, a kubernetes manifest file (located at the root directory) was written to deploy this docker container </li>
    </ol>
</div>
